@import "tailwindcss";

html {
    scroll-behavior: smooth;
    
  }
::-webkit-scrollbar{
  display: none;
}
body{
    font-family: 'Outfit',sans-serif;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 6rem;
  height: 6rem;
  border: 2px solid white;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  background-color: white;
  mix-blend-mode: difference; /* makes white border visible on light/dark bg */
}
