@import "tailwindcss";

@keyframes dropdownFadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes dropdownFadeOut {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: 0;
      transform: scale(0.95);
    }
  }
  
  [data-state="open"] {
    animation: dropdownFadeIn 200ms ease-out forwards;
  }
  
  [data-state="closed"] {
    animation: dropdownFadeOut 150ms ease-in forwards;
  }
  

  .mirror {
  transform: rotateY(180deg);
}

/* Hide scrollbar but allow scroll */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
}
