services:
  client:
    build:
      context: .
      dockerfile: client/Dockerfile.client
    ports:
      - "5173:5173"
    volumes:
      - ./client/MeetNex:/app
      - /app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
